<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="nav-container">
            <div class="navbar-header d-inline-block">
                <button type="button" class="navbar-toggle navbar-action c-action-sidebar__openbtn js-action-sidebar__openbtn openbtn" data-sidebarType="action">
                    <span class="sr-only">Toggle Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-text-black" href="/">Timeliners</a>
            </div>
            <div class="pull-right">
                {{#if email}}
                <a class="navbar-brand navbar-text-black" href="/users/{{user_id}}"><span class="glyphicon glyphicon-user"></span><span
                        class="sr-only">Your blogs</span></a>
                <a class="navbar-brand navbar-text-black" href="/logout"><span class="glyphicon glyphicon-off"></span><span
                        class="sr-only">Logout</span></a>
                {{else}}
                <button class="btn-a-like navbar-text-black" id="aboutMe" data-toggle="modal" data-target="#aboutMeModal"><span
                        class="glyphicon glyphicon-user"><span class="sr-only">About me</span></button>
                <button class="btn-a-like navbar-text-black" id="myProjects" data-toggle="modal" data-target="#myProjectsModal"><span
                        class="glyphicon glyphicon-duplicate"><span class="sr-only">My Projects</span></button>
                <button class="btn-a-like navbar-text-black" id="myExperience" data-toggle="modal" data-target="#myExperienceModal"><span
                        class="glyphicon glyphicon-briefcase"><span class="sr-only">My experience</span></button>
                <button class="btn-a-like navbar-text-black" id="contact" data-toggle="modal" data-target="#contactMeModal"><span
                        class="glyphicon glyphicon-earphone"><span class="sr-only">Contact me</span></button>
                {{/if}}
            </div>
        </div>
    </div>
</nav>
{{> actionSidebar}}
<div id="aboutMeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title center-align">About Me</h2>
            </div>
            <div class="modal-body">
                {{> aboutMe}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myProjectsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title center-align">My Projects</h2>
            </div>
            <div class="modal-body">
                {{> myProjects}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myExperienceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title center-align">My Experience</h2>
            </div>
            <div class="modal-body">
                {{> myExperience}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="contactMeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title center-align">Contact Me</h2>
            </div>
            <div class="modal-body">
                {{> contactMe}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>