.carousel {
  height: 200px;
  margin-bottom: 30px;
  background-color: #bbb;
  .item {
    height: 200px;
  }
  &-caption {
    z-index: 10;
    font-size: 24px;
  }
  &-inner {
    > .item {
      > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 200px;
      }
    }
  }
}
.c-user {
  .c-user__stories-carousel {
    margin: 5% auto;
    width: 100%;
    height: 350px;
    @media (min-width: 768px) {
      margin: 2% auto;
      width: 60%;
      height: 400px;
    }
  }
}
