@import "../global/colors";
.c-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $bg-light-grey;
  &__text-muted {
    margin: 20px 0;
  }
  &__inline-list {
    padding-left: 0;
    display: inline;
    list-style: none;
    li {
      display: inline-block;
      padding: 0 6px;
    }
  }
}
