<div id="main">
    {{> nav}}
    <div class="container c-bg-light c-user-wall js-user-wall">
        {{#if infoMsg }}
        <div class="alert alert-info alert-dismissible teaser">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{infoMsg}}
        </div>
        {{/if}} {{#if errorMsg }}
        <div class="alert alert-danger alert-dismissible teaser">
            <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{errorMsg}}
        </div>
        {{/if}}
        <h2 class="beauty center-align c-user-wall__blog-heading">Want to feel motivated? Look at you own blogs!</h2>
        <div class="c-user-wall__blog-wrapper js-user-wall__blog-wrapper" data-userid="{{user_id}}">
            <ul class="row"></ul>
        </div>
    </div>
    <div class="modal fade" id="fullBlogModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="fullBlogModalText">
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</div>