html {
  position: relative;
  min-height: 100%; }

body {
  font: 14px monospace, "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
  background-color: #efefef; }
  body .beauty {
    font-family: yellowtail; }

a {
  color: #00b7ff; }

.teaser {
  text-align: center; }

label.error {
  color: #ff0000; }

.icon {
  width: 36px;
  height: 36px;
  display: inline-block; }

.btn-a-like {
  padding: 0;
  background: transparent;
  border: 0; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

.js-loading {
  background-image: url(/images/loading.gif);
  width: 180px;
  height: 120px;
  display: block;
  margin: 0 auto; }

.pull-right {
  float: right;
  clear: right; }

.center-align {
  margin: 0 auto;
  display: block;
  text-align: center; }

.width-75 {
  width: 75%; }

.icon-fb {
  background: url("/images/icon-fb.png") no-repeat; }

.icon-gp {
  background: url("/images/icon-gp.png") no-repeat; }

.navbar .nav-container .navbar-action {
  margin-right: 0;
  float: left; }

.navbar .nav-container .navbar-text-black {
  color: #000;
  background: transparent;
  border: none;
  padding: 15px 5px;
  font-size: 18px; }

@media (min-width: 600px) {
  .navbar .nav-container .navbar-text-black {
    margin: 0 20px; } }

header {
  display: inline-block; }

.jumbotron h1 {
  font-size: 40px; }

.c-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5; }
  .c-footer__text-muted {
    margin: 20px 0; }
  .c-footer__inline-list {
    padding-left: 0;
    display: inline;
    list-style: none; }
    .c-footer__inline-list li {
      display: inline-block;
      padding: 0 6px; }

.c-form .checkbox input[type="checkbox"] {
  margin: 0;
  left: 0; }

.c-form__social-bar {
  vertical-align: middle; }

.c-form__input {
  position: relative; }

.c-form__field {
  margin: 25px 0 10px; }
  .c-form__field__placeholder {
    display: block;
    position: absolute;
    top: 0;
    padding: 9px 0 0 13px;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    opacity: 0.5; }
  .c-form__field:focus ~ .c-form__field__placeholder,
  .c-form__field:valid ~ .c-form__field__placeholder,
  .c-form__field:not(:placeholder-shown) ~ .c-form__field__placeholder {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    padding: 5px 0;
    opacity: 1; }

.carousel {
  height: 200px;
  margin-bottom: 30px;
  background-color: #bbb; }
  .carousel .item {
    height: 200px; }
  .carousel-caption {
    z-index: 10;
    font-size: 24px; }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 200px; }

.c-user .c-user__stories-carousel {
  margin: 5% auto;
  width: 100%;
  height: 350px; }
  @media (min-width: 768px) {
    .c-user .c-user__stories-carousel {
      margin: 2% auto;
      width: 60%;
      height: 400px; } }

.c-action-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eee;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  .c-action-sidebar a,
  .c-action-sidebar button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2vw;
    color: #888;
    display: block;
    transition: 0.3s;
    font-family: elephant; }
    .c-action-sidebar a:hover,
    .c-action-sidebar button:hover {
      color: #333;
      font-size: 3vw; }
  .c-action-sidebar__closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  .c-action-sidebar__openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
    color: white;
    padding: 10px 15px;
    border: none;
    display: inline-block; }
    .c-action-sidebar__openbtn:hover {
      background-color: #ddd; }

#main {
  transition: margin-left 0.5s;
  padding: 16px; }

@media screen and (max-height: 450px) {
  .actionSidebar {
    padding-top: 15px; }
    .actionSidebar a {
      font-size: 18px; } }

.modal .about-me-text {
  padding: 10vh 5vw;
  font-size: 18px; }

.modal .beauty-ol ol {
  font-style: italic;
  font-size: 24px; }
  .modal .beauty-ol ol li p {
    padding: 8px;
    font-style: normal;
    font-family: Arial;
    font-size: 13px;
    border-left: 1px solid #999; }

.modal .c-modal-user__post {
  resize: none;
  border-radius: 10px;
  height: 50vh;
  margin: 5vh 0px; }

.c-main-container__quote {
  display: inline-block;
  width: 72%;
  background: url("/images/icon-opening-quote.png") top left no-repeat;
  padding-left: 45px;
  border: none;
  margin: 0 2%;
  vertical-align: middle; }
  .c-main-container__quote p {
    position: relative;
    background: url("/images/icon-closing-quote.png") bottom right no-repeat;
    padding-right: 40px; }

.c-main-container__forms .g-recaptcha {
  margin-bottom: 10px; }
  .c-main-container__forms .g-recaptcha > div {
    margin: 0 auto; }

.c-main-container__forms__or-wrapper img {
  display: block;
  margin: 0 auto; }

.c-user__post {
  resize: none;
  border-radius: 10px;
  height: 10vw;
  word-break: break-word;
  overflow-y: auto; }
  .c-user__post-button {
    width: 100%;
    border-radius: 10px; }

.c-user-wall__story, .c-user__story {
  list-style: none;
  padding: 0; }
  .c-user-wall__story .item, .c-user__story .item {
    padding: 30px 15px;
    margin: 20px 0 20px 15px; }

.c-user__blog-wrapper li {
  list-style: none;
  height: 35vh;
  cursor: pointer; }

.c-user__blog-heading {
  margin: 10vh 0; }

.c-user-wall__blog-wrapper li {
  list-style: none;
  height: 35vh;
  cursor: pointer; }

.c-user-wall__blog-heading {
  margin: 10vh 0; }
